//colors
$black: #000000;
$color_amaranth_approx: #e63b4d;
$white: #fff;
$black_50: rgba(0,0,0,0.5);

//fonts
$font_0: Damion;
$font_1: cursive;
$font_2: Josefin Sans;
$font_3: sans-serif;

//urls
$url_0: url(../assets/images/bg.jpg);
$url_1: url(../assets/images/social.png);